{% extends 'base.html' %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <style>
        .container {
        max-width: 500px; 
        max-height: 500px;
        margin: 0 auto; 
        padding: 10px;
        flex-direction: column; 
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>Perfil de {{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>
        <p>Fecha de registro: {{ user.date_joined }}</p>
    </div>
    
</body>
</html>


{% endblock %}