{% load static %}
{% block titulo %}

{% endblock %}

{% block contenido %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f0f0f0;">
        <div style="background-color: white; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; width: 400px; text-align: center;">
            <h2>{{ msj }}</h2>
            <form action="" method="POST">
              {% csrf_token %}
               <div style="display: flex; flex-direction: column; align-items: stretch;">
                   {{ formulario.as_p }}
               </div>
              <input type="submit" value="Registrarse" style="background-color: #007bff; color: white; border: none; border-radius: 4px; padding: 10px; cursor: pointer; width: 150px; margin-top: 10px;">
            </form>
         </div>
    </div>

    <style>
        /* Estilos para los campos del formulario */
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 15px; 
        }

        /* Estilos para el botón */
        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px;
            cursor: pointer;
            width: 150px; 
            margin: 0 auto; 
        }
    </style>

{% endblock %}